<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.netology.saturn33.kt1.diploma">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <service
            android:name=".service.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.ReactionListActivity"
            android:label="@string/title_reaction_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ProfileActivity"
            android:label="@string/title_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PostActivity"
            android:label="@string/title_crate_post"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FeedActivity"
            android:label="@string/title_feed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AuthActivity"
            android:label="@string/title_auth"
            android:screenOrientation="portrait"

            />
        <activity
            android:name=".ui.RegistrationActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>